.header {
    width: 100%;
    height: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 100%;
    margin-left: 5%;
}

nav a { 
    font: normal normal 600 30px/40px 'Poppins', sans-serif; 
    color: #519259; 
    margin: 0 15px;
    padding: 7px 0;
    text-decoration: none; 
}

nav a:hover,
nav a.active{
    border-bottom: 5px solid #519259;
}

nav i { 
    font-size: 30px;
    color: #519259; 
    margin: 0 15px; 
}